// main: ../main.scss

$color-cyan: #4EEBD8;
$color-white: #FFFFFF;
$color-blue: #1F00C2;
$color-darkgrey: #0B0A0F;
$color-midgrey: #2B2737;
$color-lightgrey: #918D98;
$color-lightcyan: #A2ECD7;
$color-yellow: #D0EE1F;
